#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.selected {
  background: rgb(14, 99, 170);
 border-width: 2px;
 border-color: white;
}

.sign-top {
  margin-bottom: 0;
  border: 1px solid black;
}

.sign-bottom {
  margin-top: 0;
  padding-top: 0;
  background: white;
  color: black;
  text-transform: uppercase;
  border: 1px solid black;
}

.time {
  font-weight: bold;
  /* color: #80276C; */
  font-size: 36pt;
}

.additional_time {
  font-weight: bold;
  font-size: 16pt;
}

.prediction_section_header {
  margin-bottom: 0;
}

.Red, .Orange, .Blue, .Green, .Mattapan, .commuter {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.Red, .Mattapan {
  background: #DA291C;
}

.Orange {
  background: #ED8B00;
}

.Blue {
  background: #003DA5;
}

.Green {
  background: #00843D;
}

.commuter {
  background: #62378B;
}