#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.selected {
  background: rgb(14, 99, 170);
 border-width: 2px;
 border-color: white;
}

.time {
  font-weight: bold;
  /* color: #80276C; */
  font-size: 36pt;
}



.Red, .Orange, .Blue, .Green {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.Red, .Mattapan {
  background: #DA291C;

}

.Orange {
  background: #ED8B00;
}

.Blue {
  background: #003DA5;
}

.Green {
  background: #00843D;
}